.App {
  text-align: center;
}

.App-header {
  background-color: #EB9486;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input { 
  font-size: 10vh;
}

.title {
  font-size: 10vh;
  color: #CAE7B9;
}

.roman {
  font-family: 'Quattrocento', serif;
  font-size: 15vh;
  color: #7E7F9A;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}
@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}